
<form>
    <div class="row mb-2">
        <div class="col-6">
            <input id="txtTitleNoteNew" type="text" class="form-control" placeholder="Titulo" value="" autocomplete="off" />
        </div>
        <div class="col-6">
            <input id="txtSubjectNoteNew" type="text" class="form-control" placeholder="Tema" value="" autocomplete="off" />
        </div>
    </div>

    <textarea id="txtBodyNoteNew" class="form-control" rows="30" style="max-height: 100%"></textarea>

    <div class="row my-2">
        <div class="col text-center">
            <a role="button" id="btnSaveNoteNew" href="#" class="btn btn-success"><i class="far fa-save"></i>&nbsp; Guardar</a>
        </div>
    </div>
</form>
